<div class="page">

  <!-- Kalpler -->
  <div *ngFor="let heart of hearts" 
       class="heart" 
       [style.left.%]="heart.left"
       [style.animationDuration.s]="heart.duration">
       ❤️
  </div>

  <!-- Balonlar -->
  <div *ngFor="let balloon of balloons" 
       class="balloon"
       [style.left.%]="balloon.left"
       [style.animationDuration.s]="balloon.duration">
       🎈
  </div>

  <!-- Kart -->
  <div class="love-card" [class.show]="showCard">
      <!-- <h1>Seni Çok Seviyorum ❤️</h1> -->
      <!-- <p>Mesafeler sadece kilometre...  
      Ama kalbim hep seninle 🇹🇷 → 🇩🇪</p> -->
      <h4>Sevgililer günümüz kutlu olsun Busem</h4>
      <h4>Mutlu, sağlıklı yıllarımız olsun</h4>
      <h4>Seni Çok Seviyorum Aşkım❤️</h4>
       
  </div>

</div>
