<div class="page">
  
  <!-- Kalpler -->
  <div *ngFor="let heart of hearts" 
       class="heart" 
       [style.left.%]="heart.left"
       [style.animationDuration.s]="heart.duration">
       ❤️
  </div>

  <!-- Balonlar -->
  <div *ngFor="let balloon of balloons" 
       class="balloon"
       [style.left.%]="balloon.left"
       [style.animationDuration.s]="balloon.duration">
       🎈
  </div>

  <!-- Kart -->
  <div class="love-card" [class.show]="showCard">
      <h4>Sevgililer Günümüz Kutlu Olsun Aşkım ❤️</h4>
      <h4>İyi ki varsın iyi ki benimlesin</h4>
      <h4>Seni çok seviyorum canım sevgilim 💕</h4>
       
  </div>

</div>
